<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_page.css') }}">
    <title>Добавить страницу</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="content1">Содержимое статьи 1</label><br>
        <textarea id="content1" name="content1" rows="10" cols="10" required></textarea><br>
        <label for="content2">Содержимое статьи 2</label><br>
        <textarea id="content2" name="content2" rows="10" cols="10" required></textarea><br>
        <label for="content3">Содержимое статьи 3</label><br>
        <textarea id="content3" name="content3" rows="10" cols="10" required></textarea><br>
        <label for="content_title1">Название статьи 1</label><br>
        <textarea id="content_title1" name="content_title1" rows="2" cols="20" required></textarea><br>
        <label for="content_title2">Название статьи 2</label><br>
        <textarea id="content_title2" name="content_title2" rows="2" cols="20" required></textarea><br>
        <label for="content_title3">Название статьи 3</label><br>
        <textarea id="content_title3" name="content_title3" rows="2" cols="20" required></textarea><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>

