<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_page.css') }}">
    <title>Редактировать страницу</title>
</head>
<body>
    <h1>Редактировать страницу</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" value="{{ page.title }}" required><br><br>
        <label for="content">Содержимое:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required>{{ page.content }}</textarea><br><br>
        {% endif %}
        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>